import React from 'react';

export interface {{capitalize componentName}}Props  {}

const {{capitalize componentName}}: React.FC<{{capitalize componentName}}Props> = (props) => {
  return <div></div>;
};

{{capitalize componentName}}.displayName = "MyraUI.{{capitalize componentName}}";

export default {{capitalize componentName}};
